
.soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 48px;
    padding: 4.8rem;
    text-align: center;
    background: none;
}

.soc li {
    display: inline-block;
    margin: 12px;
    margin: 0.9rem;
    background: none;

}

.soc a,
.soc svg {
    display: block;
}

.soc a {
    position: relative;
    height: 10px;
    height: 3rem;
    width: 10px;
    width: 3rem;
    border: none;
}

.soc svg {
    height: 100%;
    width: 100%;
}

.soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon-1:hover,
.icon-2:hover,
.icon-3:hover,
.icon-4:hover,
.icon-5:hover,
.icon-6:hover,
.icon-7:hover,
.icon-8:hover,
.icon-9:hover,
.icon-10:hover,
.icon-11:hover,
.icon-12:hover,
.icon-13:hover,
.icon-14:hover,
.icon-15:hover,
.icon-16:hover,
.icon-17:hover,
.icon-18:hover,
.icon-19:hover,
.icon-20:hover,
.icon-21:hover,
.icon-22:hover,
.icon-23:hover,
.icon-24:hover,
.icon-25:hover,
.icon-26:hover,
.icon-27:hover,
.icon-28:hover,
.icon-29:hover,
.icon-30:hover {
    border-radius: 100%;
    color: #FFFFFF;
    fill: #FFFFFF;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
    transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
    transition: background-color 0.25s, transform 0.25s ease-out;
    transition: background-color 0.25s, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.icon-1 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-1:hover {
    background: #5bcfdd;
}

.icon-2 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-2:hover {
    background: #5bcfdd;
}

.icon-3 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-3:hover {
    background: #5bcfdd;
}

.icon-4 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-4:hover {
    background: #5bcfdd;
}

.icon-5 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-5:hover {
    background: #5bcfdd;
}

.icon-6 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-6:hover {
    background: #5bcfdd;
}

.icon-7 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-7:hover {
    background: #5bcfdd;
}

.icon-8 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-8:hover {
    background: #5bcfdd;
}

.icon-9 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-9:hover {
    background: #5bcfdd;
}

.icon-10 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-10:hover {
    background: #5bcfdd;
}

.icon-11 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-11:hover {
    background: #5bcfdd;
}

.icon-12 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-12:hover {
    background: #5bcfdd;
}

.icon-13 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-13:hover {
    background: #5bcfdd;
}

.icon-14 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-14:hover {
    background: #5bcfdd;
}

.icon-15 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-15:hover {
    background: #5bcfdd;
}

.icon-16 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-16:hover {
    background: #5bcfdd;
}

.icon-17 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-17:hover {
    background: #5bcfdd;
}

.icon-18 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-18:hover {
    background: #5bcfdd;
}

.icon-19 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-19:hover {
    background: #5bcfdd;
}

.icon-20 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-20:hover {
    background: #5bcfdd;
}

.icon-21 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-21:hover {
    background: #5bcfdd;
}

.icon-22 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-22:hover {
    background: #5bcfdd;
}

.icon-23 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-23:hover {
    background: #5bcfdd;
}

.icon-24 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-24:hover {
    background: #5bcfdd;
}

.icon-25 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-25:hover {
    background: #5bcfdd;
}

.icon-26 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-26:hover {
    background: #5bcfdd;
}

.icon-27 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-27:hover {
    background: #5bcfdd;
}

.icon-28 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-28:hover {
    background: #5bcfdd;
}

.icon-29 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-29:hover {
    background: #5bcfdd;
}

.icon-30 {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-30:hover {
    background: #5bcfdd;
}
