/* Remodal Overrides */
.modal-content {
    display: block;
    max-width:1080px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    p {
        color: #000;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;

    }
    h3{
        color:$color-site-branding;
    }
}
