/* BASE COLORS */
$color-main:        #02d971;
$color-main-bg:     #262626;
$color-main-nav:    #3c3c3c;
$color-main-nav-bg: #121212;
$color-nav-link:    #ececec;
$color-body-text:    #ececec;
$color-global-link:    #5e9dc7; 
$color-site-branding:   #5bcfdd;