@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

// Base Variables 
@import 'utils/variables';

@import 'assets/scss/utils/animations';

// Mixin helpers
@import 'utils/mixins';

//Grid System https://gridlex.devlint.fr/
//@import 'grid/gridlex';

// Modular Scale https://www.modularscale.com/
@import 'modularscale';
$modularscale: (base: 12px,
    gulratio: 1.618);

/* BUTTONS */
@import 'assets/scss/utils/buttons';

/* MODAL CONTROLS */
@import 'assets/scss/utils/remodal';

/*animations*/

/*theme*/
@import 'assets/scss/theme/theme';


/* NEW PORT STYLES CONVERT TO SCSS  - Adjust to be mobile first approach*/
html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

body {
    display:none;
    background-color: $color-main-bg;
    color: #fff;
    font-style: normal;
    text-align: center;
    background-size: cover;
    line-height:1.4;
    margin: 0;
    padding: 0;
    font-family: azo-sans-web;
}

p {
    font-family: azo-sans-web;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    letter-spacing: 0.03em;
    color: #d6d6d6;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.title-block-hr {

    display: block;
    width: 180px;
    height: 3px;
    background: #efefef;
    border: none;
    margin: 4em auto;

}

.morepadd {
    top: 55px;

}

#wrapper {
    overflow: hidden;
}

#hero {
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    position: relative;
    background-position: center;
}

.full-container {
    position: relative;
    margin-bottom:8em;
    &:after{
        content: "";
        clear: both;
        display: table;
    }
    
}

.portfolio-content  {
    margin-bottom:4em;

}
.port-img{
    max-width: 100%; height: auto 
}

.portfolio-main-image{

}

.left-image {
    position: relative;
    width: 100%;
    height: 800px;
    background: url(assets/img/1screen.png) no-repeat top center;
    background-position: left;
    background-size: contain;
    left: 0;
    top:-360px;
    z-index:-1;
}
.hero{
    right: -80px;
    top: -110px;
    &-1{
        background: url() no-repeat top center;
        background-position: right;
        background-size: contain;
    }
    &-2{
        background: url(assets/img/1screen.png) no-repeat top center;
        background-position: right;
        background-size: contain;
    }
    &-3{
        background: url(assets/img/branding-3.png) no-repeat top center;
        background-position: right;
        background-size: contain;
    }
}

.left-image.hero-3 {
    background: url(assets/img/branding-3.png) no-repeat top center;
    background-position: left;
    background-size: contain;
    right: 0;
    top: -400px;

}

.clearboth {
    clear: both;
}


.left-image-2 .content-block {
    width: 100%;
    float: right;
    padding-top: 3em;
}

.left-image-2 {
    position: relative;
    padding-top: 3em;
    width: 99%;
    height: 800px;
    text-align: left;
    background-size: contain;
    background-position: right;
}

.imageCycle1 {
    background-image: url(assets/img/desktop.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/desktop.jpg', sizingMethod='scale');

}

.imageCycle2 {
    background-image: url(assets/img/desktop.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/desktop.jpg', sizingMethod='scale');
}

.imageCycle3 {
    background-image: url(assets/img/desktop.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/desktop.jpg', sizingMethod='scale');
}

.imageCycle4 {
    background-image: url(assets/img/desktop.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/desktop.jpg', sizingMethod='scale');
}


#hero {

    background-size: cover;
    position: relative;
    background-position: center;
    box-sizing: border-box;
}

#site-logo {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    background: url(assets/img/ma-logo.svg)transparent no-repeat top center;
}

.coming-soon-text {
    opacity: 0;
}

.header {
    position: absolute;
    top: 54%;
    text-align: center;
    width: 100%;
    color: #fff;
    /* IE 9 */
    -webkit-transform: translate(0, -50%);
    /* Safari */
    transform: translate(0, -50%);

    p {
        font-size: 0.8em;
        color: #5bcfdd;
    }
}

#content {
    display:block;
    padding: 100px 1.618em 1.618em;
    text-align: center;
    width: auto;
    box-sizing: border-box;
    margin: 0px auto;

    h2 {
        margin: 0 0 1em 0;
        letter-spacing: 0.1em;
    }

    &.extraspace {
        padding-top: 150px;
    }
}


footer {
    padding: 30px 0px;
    text-align: center;
    background: #000;
    background: url('assets/img/lake-bg-duo.jpg') no-repeat top center;
    background-size: cover;
}

main {
    footer {
        section {
            margin-bottom: 1em;
        }
    }
}

a {
    color: #d6d6d6;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: azo-sans-web;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    /*	text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);*/
}

h1 {
    font-size: ms(2);
    color: #5bcfdd;
    height: 1.4em;
}

h2 {
    font-size: 1em;
    color: #FFFFFF;
}

footer p {
    font-family: azo-sans-web, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #d6d6d6;
    margin-top: 0.25em;
}

section#contact {
    margin-top: 4em;
}


/*Masonary Grid */
.ma-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    text-align:left;
    margin-bottom:20px;
    &.portfolio-grid{
        margin-top:2em; 
        grid-template-columns: 1fr;
        gap: 20px 20px;
    }
    &.portfolio-holder-grid{
        margin-top:2em; 
        grid-template-columns: 1fr;
        gap: 20px 20px;
    }
    &.project-grid, &.project-grid-lg-2{
        margin-top:2em; 
        grid-template-columns: 1fr;
        gap: 20px 20px;
    }
}

.techinical-list{
    margin:0;
    padding:0;
    li{
        list-style:none;
        color:#000;
        margin-top:0.5em;
        p{
            margin:0.5em 0 0;
            padding:0;
            color:#000;
            span{
                color:$color-site-branding;
            }
        }
    }
}
.col {
    img{
        width:100%;
    }
}

/* .masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    //filter: brightness(50%);
    &:hover {
        //filter: brightness(100%);
    }
} */
/* The animation code */
@-webkit-keyframes brand-intro {
    to {
        opacity: 1;
    }
}

@keyframes brand-intro {
    to {
        opacity: 1;
    }
}

#brand {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #efefef;
    text-align: left;
    padding-left: 5em;
    left: 0;
    background: url(assets/img/logo-symbol-sm.png) no-repeat 1em 1.2em;
    -webkit-animation-name: fade-on;
    animation-name: fade-on;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes fade-on {
    to {
        opacity: 1;
    }
}

@keyframes fade-on {
    to {
        opacity: 1;
    }
}

nav {
    opacity: 1;
    background-color:$color-main-nav-bg;
    min-height: auto;

}

nav ul {
    font-size: 0.8em;
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0.4em 0.7em 0.45em;
    color: #d6d6d6;

}

nav ul li:last-child {
    border-right: none;

}

nav ul li:last-child {}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active,
.nav-active {
    text-decoration: none;
    color: #5bcfdd;
    border-bottom: 3px solid #a5a5a5;
}

nav.stick {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 20000000;

}

.main-header-space {
    margin-top: -150px;
}

.ttp {

    margin-top: 58px;
}

.stick-body {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    height: 58px;
    z-index: 20000000;
}

figure {
    margin: 0;
    padding: 0;
}

/*
* HELPERS
*/
.modal-content{
    max-width:1080px;
    margin:0 auto;
}


#loading {
    background: $color-main-bg;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;

}

.loadingDiv {
    background: url(assets/img/loading-cross.svg)transparent no-repeat top center;
    border-radius: 50%;
    color: #FFFFFF;
    opacity: 0;
    height: 100px;
    width: 100px;
    left: 50%;
    line-height: 100px;
    margin: -50px 0 0 -50px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

main section {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10em;
    margin-top: 0em;
}

.section {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1500px;
    box-sizing: border-box;
}

main section ul {
    background-color: #337800;
    margin: 0;
    padding: 0;
}

main section ul li {
    background-color: #efefef;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

main section ul li a {
    display: block;
    margin: 0;
    padding: 0
}

.portfolio-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.hero-img {
    margin-top: 2em;

}

.midimage {

    max-width: 700px;
    margin: 0 auto;
}



.youtube-container {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.youtube-player {
    display: block;
    width: 100%;
    /* assuming that the video has a 16:9 ratio */
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: hand;
    cursor: pointer;
}

img.youtube-thumb {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto
}

div.play-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}

#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ARROW CSS */
.arrow-down {
    position: relative;
    margin: 0 auto;
    margin-top: 3em;
    color: #c3c3c3;
    width: 40px;
    background: url(assets/img/arrow.svg) no-repeat;
    background-size: contain;
}

/* Grid Column CSS */
/*  SECTIONS  */
section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group:last-child {
    zoom: 1;
    /* For IE 6/7 */
    padding-bottom: 1em;
}


.clearboth {
    clear: both;
}

/*Social Icons SVG Code */
@import 'assets/scss/utils/icons';

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    section#contact {
        width: 90%;
        margin-top: 4em;
    }


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .tint:before {
        font-size: 2em;
    }

    section#contact {
        width: 90%;
        margin-top: 4em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

    /* Styles */
    section#contact {
        width: 90%;
        margin-top: 4em;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-width : 480px) {
    .tint:before {
        font-size: 1em;
    }

    section#contact {
        width: 80%;
        margin-top: 4em;
    }
}

@media only screen and (min-width : 768px) {
    .tint:before {
        font-size: 2em;
    }

    section#contact {
        width: 60%;
        margin-top: 16em;
    }
    @import 'assets/scss/breakpoints/tablet';
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    @import 'assets/scss/breakpoints/desktop1224up';
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}
