/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Base Variables  */
@import 'utils/variables';

/* Animations */
@import 'assets/scss/utils/animations';

/* Mixin helpers */
@import 'utils/mixins';

/* Modular Scale https://www.modularscale.com/ */
@import 'modularscale';
$modularscale: (base: 12px, ratio: 1.618);

/* Buttons */
@import 'assets/scss/utils/buttons';

/* Modals */
@import 'assets/scss/utils/remodal';
@import 'assets/scss/utils/modal';

/* Grid - CSS Grid Implementation */
@import 'assets/scss/grid/grid-base';

/* General Helpers */ 
@import 'assets/scss/theme/loading';

/* General Helpers */
@import 'assets/scss/theme/hero.scss';

/* Typography */
@import 'assets/scss/typography/typography-base';

/* General Helpers */
@import 'assets/scss/utils/helpers';

/* Video Player */
@import 'assets/scss/utils/video-player';

/* General Helpers */ 
@import 'assets/scss/theme/layout';

/* Theme */
@import 'assets/scss/theme/header';

/* Theme */
@import 'assets/scss/theme/theme';

/* General Helpers */
@import 'assets/scss/theme/hero.scss';

/*Social Icons SVG Code */
@import 'assets/scss/utils/icons';

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    section#contact {
        width: 90%;
        margin-top: 4em;
    }


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .tint:before {
        font-size: 2em;
    }

    section#contact {
        width: 90%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

    /* Styles */
    section#contact {
        width: 90%;
        padding-top:4em;
    }

}

@media only screen and (min-width : 480px) {
    .tint:before {
        font-size: 1em;
    }

    section#contact {
        width: 80%;
        padding-top:4em;
    }
}

@media only screen and (min-width : 768px) {
    @import 'assets/scss/breakpoints/tablet';
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    @import 'assets/scss/breakpoints/desktop1224up';
}
