
.main-header-space {
    margin-top: -150px;
}


#site-logo {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    background: url(assets/img/ma-logo.svg)transparent no-repeat top center;
}

.header {
    position: absolute;
    top: 54%;
    text-align: center;
    width: 100%;
    color: #fff;
    opacity: 0;
    /* IE 9 */
    -webkit-transform: translate(0, -50%);
    /* Safari */
    transform: translate(0, -50%);

    p {
        font-size: 0.8em;
        color: #5bcfdd;
    }
}

#brand {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #efefef;
    text-align: left;
    padding-left: 5em;
    left: 0;
    background: url(assets/img/logo-symbol-sm.png) no-repeat 1em 1.2em;
    -webkit-animation-name: fade-on;
    animation-name: fade-on;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

nav {
    opacity: 1;
    background-color:$color-main-nav-bg;
    min-height: auto;

}

nav ul {
    font-size: 0.8em;
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0.4em 0.7em 0.45em;
    color: #d6d6d6;

}

nav ul li:last-child {
    border-right: none;

}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active,
.nav-active {
    text-decoration: none;
    color: #5bcfdd;
    border-bottom: 3px solid #a5a5a5;
}

nav.stick {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 20000000;

}