/* Hero */
#hero {
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 100vh;
}

.coming-soon-text {
    opacity: 0;
}

.hero{
    right: -80px;
    top: -110px;
    &-1{
        background: url() no-repeat top center;
        background-position: right;
        background-size: contain;
    }
    &-2{
        background: url(assets/img/1screen.png) no-repeat top center;
        background-position: right;
        background-size: contain;
    }
    &-3{
        background: url(assets/img/branding-3.png) no-repeat top center;
        background-position: right;
        background-size: contain;
    }
}

#csshero {
    background-size: cover;
    position: relative;
    background-position: center;
    box-sizing: border-box;
    height: 100vh;
}
.hero-img {
    margin-top: 2em;

}

.imageCycle{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &1{
        background-image: url(assets/img/desktop.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/desktop.jpg', sizingMethod='scale');
    }
    /* &2{
        background-image: url(assets/img/field-bg.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/field-bg.jpg', sizingMethod='scale');
    }
    &3{
        background-image: url(assets/img/lake-bg.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/lake-bg.jpg', sizingMethod='scale');
    }
    &4{
        background-image: url(assets/img/montreal-bg.jpg);
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/img/montreal-bg.jpg', sizingMethod='scale'); 
    } */
}