.primary-color{
    color: $color-site-branding;
}

::-moz-selection { background: $color-site-branding-lighter; }
::selection { background: $color-site-branding-lighter; }

.tint {
    position: relative;
    float: left;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    &:before {
        background: rgba(26,26,26,0.8);
        opacity: 0;
        color: #FFF;
        padding-top: 25%;
        font-size: 2em;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: auto;
        right: 0;
        overflow: hidden;
        animation-name: fadeIn;
    
    
    }
    &:hover {
        /* Firefox */
        -webkit-animation-name: myanimation;
        animation-name: myanimation;
        animation-duration: 1s;
        -webkit-transform-style: preserve-3d;
        animation-direction: alternate;
        animation-iteration-count: once;
        animation-fill-mode: forwards;
        animation-play-state: running;
        background: rgba(13, 93, 103, 0.9);
        opacity: 1;
        height: 55%;
        &:before{
            opacity:1;
        }
    }
    
}

.title-block-hr {
    display: block;
    width: 180px;
    height: 3px;
    background: #efefef;
    border: none;
    margin: 4em auto;
}

.techinical-list{
    margin:0;
    padding:0;
    li{
        list-style:none;
        color:#000;
        margin-top:0.5em;
        p{
            margin:0.5em 0 0;
            padding:0;
            color:#000;
            span{
                color:$color-site-branding;
            }
        }
    }
}